.product-price {
    color: #76838f;
    background-color: #fff;
    background-image: none;
    border-radius: 3px;
    border: 1px solid #e4eaec;
    width: 80px;
    padding: 2px 10px;
    min-height: 31px;
}
.product-code {
    color: #76838f;
    background-color: #fff;
    background-image: none;
    border-radius: 3px;
    border: 1px solid #e4eaec;
    width: 200px;
    padding: 2px 10px;
}
.product-price:disabled {
    background-color: #fafbfc;
}
.product-label {
    padding-right: 10px;
    margin-top: 5px;
}
.product-form {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.product-symbol {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.4375rem;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #6c868e;
    text-align: center;
    white-space: nowrap;
    background-color: #fafbfc;
    border: 1px solid #bbcdd2;
}
.input-group-append {
    margin-left: -2px;
}
.star-red {
    color: red;
}
.product-footer {
    box-shadow: 0 0 5px #363a41;
    position: fixed;
    width: 100%;
    margin-left: -5px;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    z-index: 10;
    background: #fff;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.text-right {
    text-align: right!important;
}
.hr-grey {
    border-bottom: solid 1px #eee;
}
.big-text {
    font-weight: bold;
}
.content-center {
    display: flex;
    justify-content: center;
}
.product-header-panel {
    margin-bottom: -21px;
    padding: 0 5%;
}
.product-head-text {
    font-size: 1.5rem;
    padding: 15px 10px;
    height: 40px;
}
.dropzone .dz-preview .dz-image img  {
    width: 120px !important;
}
.dropzone .dz-preview .dz-progress {
    left: 50% !important;
}row d-none d-md-flex pb-2 font-weight-bold

 .font-weight-bold-voy {
     font-weight: 700 !important;
 }
.pb-2-voy, .py-2-voy {
    padding-bottom: 0.5rem !important;
}
.d-md-flex-voy {
    display: flex !important;
}

.col-voy {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}
.m-0-voy {
    margin: 0 !important;
}
.hr-voy {
    border: none;
    border-top: 1px solid #dee2e6;
}
.hr-voy {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.pstaggerTagsWrapper {
    display: none;
    position: relative;
    padding: 6.4px;
    padding: 0.4rem;
    padding-bottom: 0;
    border: 1px solid #bbcdd2;
    background: #fff;
    width: 100%;
    min-height: 30px;
}
.bold {
    font-weight: bold;
}
.pstaggerTag {
    font-size: 12px;
    font-size: .75rem;
    display: inline-block;
    padding: 3.2px 6.4px;
    padding: 0.2rem 0.4rem;
    margin: 0 6.4px 6.4px 0;
    margin: 0 0.4rem 0.4rem 0;
    color: #25b9d7;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: #fff;
    background-color: #25b9d7;

}
.padding-left {
    padding: 0 15px;
}
.display-inline {
    display: inline;
}
.margin-top {
    margin-top: 5px;
}
